.Grid-container {
  display: grid;
  width: 75vmin;
  height: 75vmin;
}


.Grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
}

.Grid-item-blocked {
  background-color: black;
}

.Grid-item-selected {
  background-color: rgba(152, 207, 254, 0.8)
}

.Grid-item-highlight {
  background-color: rgba(524, 212, 10, 0.8)
}
