.Grid-container {
  display: grid;
  width: 100%;
  height: 100%;
}


.Grid-number {
  top: 1px;
  left: 1px;
  font-size: 9px;
  position: absolute;
  font-weight: bold;
}

.Grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;

  position: relative;
}

.Grid-item-blocked {
  background-color: black;
  box-shadow: inset 0 0 0 1000px black;
}

.Grid-item-selected {
  background-color: rgba(152, 207, 254, 0.8)
}

.Grid-item-highlight {
  background-color: rgba(524, 212, 10, 0.8)
}
